<div class="modal fade" id="retrievePasswordEmailModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="retrievePasswordEmailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title">{{title}}</h5>
                <button id="closeButton" title="{{'close' | translate}}" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (submit)="onSubmit();" ngNativeValidate #retrievePasswordEmailForm="ngForm">
                     <div class="col container-fluid">
                        <div class="row">
                            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <input class="inputs" title="{{'email' | translate}}" type="email" id="register_userEmail" name="userEmail" placeholder="{{'email' | translate}}*"
                                       [(ngModel)]="email" required #userEmailForm="ngModel" minlength="6">
                                <div *ngIf="retrievePasswordEmailForm.submitted && userEmailForm.invalid" class="alert alert-danger">
                                    <div *ngIf="userEmailForm.errors.required">{{'email.required' | translate}}</div>
                                    <div *ngIf="userEmailForm.errors.pattern">{{'email.format' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="buttons">
                                <button type="button" title="{{'close' | translate}}" id="closeButton1" class="button close" data-bs-dismiss="modal" (click)="closeModal()">
                                    {{'cancel' | translate}}
                                </button>
                            </div>
                            <div class="buttons">
                                <input type="submit" title="{{'send' | translate}}" class="button" value="{{'send' | translate}}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>