<section>
    <div class="container">
        <div class="user signupBx">
            <div class="formBx">
                <form (submit)="onCreate()" ngNativeValidate #loginForm="ngForm">
                    <h2>{{'register.title' | translate}}<a title="{{'home' | translate}}" routerLink="/home">¡A pachas!</a></h2>
                    <div>
                        <input type="text" id="register_userName" name="userName" placeholder="{{'user.name'| translate}}*"
                               pattern="[a-zA-ZñÑ]{1,100}" title="{{'user.name'| translate}}"
                               [(ngModel)]="name" required #usernameForm="ngModel">
                        <div *ngIf="!available" class="alert alert-danger">
                            <div>{{'user.username.available'| translate}}</div>
                        </div>
                        <div *ngIf="loginForm.submitted && usernameForm.invalid" class="alert alert-danger">
                            <div *ngIf="usernameForm.errors.required">{{'user.name.required'| translate}}</div>
                            <div *ngIf="usernameForm.errors.pattern">{{'user.name.format'| translate}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="text" id="register_userSurname" name="userSurname" placeholder="{{'user.surname'| translate}}*"
                               [(ngModel)]="surname" pattern="[a-zA-Zñáéíóú ]{1,100}" title="{{'user.surname'| translate}}" required
                               #userSurnameForm="ngModel" minlength="6">
                        <div *ngIf="loginForm.submitted && userSurnameForm.invalid" class="alert alert-danger">
                            <div *ngIf="userSurnameForm.errors.required">{{'user.surname.required'| translate}}</div>
                            <div *ngIf="userSurnameForm.errors.pattern">{{'user.surname.format'| translate}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="text" id="register_userLogin" name="userLogin" placeholder="{{'user.username'| translate}}*"
                               [(ngModel)]="login" required #userLoginForm="ngModel" minlength="6" maxlength="13"
                               pattern="[a-zA-ZñÑ0-9_-]{1,100}" title="{{'user.username'| translate}}">
                        <div *ngIf="loginForm.submitted && userLoginForm.invalid" class="alert alert-danger">
                            <div *ngIf="userLoginForm.errors.required">{{'user.username.required'| translate}}
                            </div>
                            <div *ngIf="userLoginForm.errors.pattern">{{'user.username.format'| translate}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="password" id="register_userPassword" name="userPassword" placeholder="{{'password'| translate}}*"
                               [(ngModel)]="password" title="{{'password'| translate}}" required #userPasswordForm="ngModel" minlength="6">
                        <div *ngIf="loginForm.submitted && userPasswordForm.invalid" class="alert alert-danger">
                            <div *ngIf="userPasswordForm.errors.required">{{'password.required'| translate}}</div>
                            <div *ngIf="userPasswordForm.errors.minLenght">{{'password.min'| translate}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="password" title="{{'password.confirm'| translate}}" id="register_userPasswordConfirm" name="userPasswordConfirm"
                               placeholder="{{'password.confirm'| translate}}*" [(ngModel)]="passwordConfirm" required
                               #userPasswordConfirmForm="ngModel" minlength="6">
                        <div *ngIf="password != passwordConfirm" class="alert alert-danger">
                            <div>{{'password.equals'| translate}}</div>
                        </div>
                        <div *ngIf="loginForm.submitted && userPasswordConfirmForm.invalid" class="alert alert-danger">
                            <div *ngIf="userPasswordConfirmForm.errors.required">{{'password.required'| translate}}
                            </div>
                            <div *ngIf="userPasswordConfirmForm.errors.minLenght">{{'password.min'| translate}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="email" id="register_userEmail" name="userEmail" placeholder="{{'user.email'| translate}}*"
                               [(ngModel)]="email" title="{{'user.email'| translate}}" required #userEmailForm="ngModel" minlength="6">
                        <div *ngIf="loginForm.submitted && userEmailForm.invalid" class="alert alert-danger">
                            <div *ngIf="userEmailForm.errors.required">{{'email.required'| translate}}
                            </div>
                            <div *ngIf="userEmailForm.errors.pattern">{{'email.format'| translate}}
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="{{'register' | translate}}">
                    <p class="signin">{{'account.login.get' | translate}} <a routerLink="/login"> {{'account.login' | translate}}</a></p>
                </form>
            </div>
            <div class="imgBx"><img src="assets/RegisterMoney.jpg" alt="{{'deco'| translate}}"></div>
        </div>
    </div>
</section>
<simple-notifications></simple-notifications>
