<section>
    <div [hidden]="!hidden" class="imageDiv">
        <img src="assets/logo.png" alt="{{'logo' | translate}}">
    </div>
    <div [hidden]="!hidden">
        <h1 [ngClass]="messageColor">{{message}}</h1>
    </div>
        <form [hidden]="hidden" (submit)="retrievePassword();" ngNativeValidate #retrievePasswordForm="ngForm">
            <div>
                <input class="inputs" type="password" title="{{'password' | translate}}" id="register_userPassword" name="userPassword" placeholder="{{'password' | translate}}*"
                               [(ngModel)]="password" required #userPasswordForm="ngModel" minlength="6">
                <div *ngIf="retrievePasswordForm.submitted && userPasswordForm.invalid" class="alert alert-danger">
                    <div *ngIf="userPasswordForm.errors.required">{{'password.required' | translate}}</div>
                    <div *ngIf="userPasswordForm.errors.minLenght">{{'password.min'}}</div>
                </div>
            </div>
            <div>
                <input class="inputs" type="password" title="{{'password.confirm' | translate}}" id="register_userPasswordConfirm" name="userPasswordConfirm"
                               placeholder="{{'password.confirm' | translate}}*" [(ngModel)]="passwordConfirm" required
                               #userPasswordConfirmForm="ngModel" minlength="6">
                <div *ngIf="password != passwordConfirm" class="alert alert-danger">
                    <div>{{'password.equals' | translate}}</div>
                </div>
                <div *ngIf="retrievePasswordForm.submitted && userPasswordConfirmForm.invalid" class="alert alert-danger">
                    <div *ngIf="userPasswordConfirmForm.errors.required">{{'password.required' | translate}}</div>
                    <div *ngIf="userPasswordConfirmForm.errors.minLenght">{{'password.min'}}</div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" title="{{'save' | translate}}" class="button" value="{{'save' | translate}}">
            </div>
        </form>
</section>
<simple-notifications></simple-notifications>
