<div class="modal fade" id="detailUserModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="detailUserLabel" aria-hidden="true">
    <app-messageConfirm (eventMessageConfirm)="onRequest($event)" [message]=message></app-messageConfirm>
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" [ngClass]="darkMode ? 'bg-dark text-light' : ''">
            <div class="modal-header" [ngClass]="darkMode ? 'bg-dark text-light' : ''">

                <h5 class="modal-title title" [ngClass]="darkMode ? 'bg-dark text-light' : ''">
                    {{user.userLogin}}
                </h5>
                <div class="dropdown">
                    <a class="btn btn-neutral dropdown-toggle drop" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="darkMode ? 'text-light' : ''">
                        <i class="zmdi zmdi-label"></i>
                    </a>
                    <ul class="dropdown-menu" [ngClass]="darkMode ? 'bg-dark text-light' : ''" aria-labelledby="dropdownMenuLink">
                        <li>
                            <button type="button" [ngClass]="darkMode ? 'bg-dark text-light darkDrop' : ''" class="dropdown-item buttonText" title="{{'status' | translate}}"
                                    data-bs-toggle="modal" data-bs-target="#messageConfirmModal">{{getMessageStatus()}}</button>
                        </li>
                    </ul>
                </div>

                <button type="button" id="closeButton" class="btn-close closeButton" title="{{'close' | translate}}"  data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col container-fluid">
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 userScroll">
                            <div class="imageUserDiv">
                                <ng-container *ngIf="user.userPhoto; else imagesDiv">
                                    <img class="imageUser" [src]="user.userPhoto" alt="{{'user.photo' | translate}}"
                                         id="detailUser_photo">
                                </ng-container>
                                <ng-template #imagesDiv>
                                    <img class="imageUser" [src]="defaultImage" alt="{{'user.photo.default' | translate}}">
                                </ng-template>
                            </div>
                            <p class="text common userSubtitle" [ngClass]="darkMode ? 'bg-dark text-light' : 'subtitle'">{{'user.mutual.title' | translate}}</p>
                            <div class="paginationMutualDiv col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-5">
                                <div class="row">
                                    <ng-container *ngIf="mutualFriends.length !=0; else mutualFriendsDiv">
                                        <div *ngFor="let user of mutualFriends" class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-5 userDiv">
                                            <ng-container *ngIf="user.userPhoto; else userImagesDiv">
                                                <p class="imageP">
                                                    <img class="imageMutuals"
                                                         [src]="user.userPhoto" alt="{{'user.photo' | translate}}" id="detailMutualUser_photo">
                                                </p>
                                                <p class="mutual mutualUser" [ngClass]="darkMode ? 'text-light' : ''">
                                                    {{user.userLogin}}
                                                </p>
                                            </ng-container>
                                            <ng-template #userImagesDiv>
                                                <p class="imageP">
                                                    <img class="imageMutuals" alt="{{'user.photo.default' | translate}}" [src]="defaultImage">
                                                </p>
                                                <p class="mutual mutualUser" [ngClass]="darkMode ? 'text-light' : ''">
                                                    {{user.userLogin}}
                                                </p>
                                            </ng-template>
                                        </div>
                                        <div *ngIf="mutualFriends.length > sizeMutualFriends" [ngClass]="previousFriendClass" [ngClass]="darkMode ? 'moreDark' : 'more'" (click)="getLessMutualFriends();"><a title="{{'less' | translate}}">
                                            {{'less' | translate}}</a></div>
                                        <div *ngIf="mutualFriends.length < totalMutualFriends" [ngClass]="nextFriendClass" [ngClass]="darkMode ? 'moreDark' : 'more'" (click)="getMoreMutualFriends();"><a title="{{'more' | translate}}">
                                            {{'more' | translate}}</a></div>
                                    </ng-container>
                                    <ng-template #mutualFriendsDiv>
                                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <p class="text userText" [ngClass]="darkMode ? 'bg-dark text-light' : ''">{{'user.mutual' | translate}}</p>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-11 mutualBorder">
                                <p class="text common" [ngClass]="darkMode ? 'bg-dark text-light' : 'subtitle'">{{'group.mutual.title' | translate}}</p>
                                <div class="paginationMutualDiv mutualRight col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-5">
                                    <div class="row">
                                        <ng-container  *ngIf="mutualGroups.length !=0; else mutualGroupsDiv">
                                            <div *ngFor="let group of mutualGroups" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-5 mutualDiv">
                                                <ng-container *ngIf="group.groupPhoto; else groupImagesDiv">
                                                    <p class="imageP">
                                                        <img class="imageMutuals"
                                                             [src]="group.groupPhoto" alt="{{'group.photo' | translate}}" id="detailMutualGroup_photo">
                                                    </p>
                                                    <p class="mutual" [ngClass]="darkMode ? 'text-light' : ''">
                                                        {{group.groupName}}
                                                    </p>
                                                </ng-container>
                                                <ng-template #groupImagesDiv>
                                                    <p class="imageP">
                                                        <img class="imageMutuals" alt="{{'group.photo.default' | translate}}" [src]="defaultGroupImage">
                                                    </p>
                                                    <p class="mutual" [ngClass]="darkMode ? 'text-light' : ''">
                                                        {{group.groupName}}
                                                    </p>
                                                </ng-template>
                                            </div>
                                            <div *ngIf="mutualGroups.length > sizeMutualGroups" [ngClass]="previousGroupClass" [ngClass]="darkMode ? 'moreDark' : 'moreMutual'" (click)="getLessMutualGroups()"><a title="{{'less' | translate}}">
                                                {{'less' | translate}}</a></div>
                                            <div *ngIf="mutualGroups.length < totalMutualGroups" [ngClass]="nextGroupClass" [ngClass]="darkMode ? 'moreDark' : 'moreMutual'" (click)="getMoreMutualGroups()"><a title="{{'mores' | translate}}">
                                                {{'more' | translate}}</a></div>
                                        </ng-container>
                                        <ng-template #mutualGroupsDiv>
                                            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <p class="text withoutText" [ngClass]="darkMode ? 'bg-dark text-light' : ''">{{'group.mutual' | translate}}</p>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            <p class="text common" [ngClass]="darkMode ? 'bg-dark text-light' : 'subtitle'">{{'event.mutual.title' | translate}}</p>
                            <div class="paginationMutualDiv mutualRight col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-5">
                                <div class="row">
                                    <ng-container  *ngIf="mutualEvents.length !=0; else mutualEventsDiv">
                                        <div *ngFor="let event of mutualEvents" class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-5 mutualDiv">
                                            <ng-container *ngIf="event.eventPhoto; else eventImagesDiv">
                                                <p class="imageP">
                                                    <img class="imageMutuals"
                                                         [src]="event.eventPhoto" alt="{{'event.photo' | translate}}" id="detailMutualEvent_photo">
                                                </p>
                                                <p class="mutual" [ngClass]="darkMode ? 'text-light' : ''">
                                                    {{event.eventName}}
                                                </p>
                                            </ng-container>
                                            <ng-template #eventImagesDiv>
                                                <p class="imageP">
                                                    <img class="imageMutuals" [src]="defaultEventImage" alt="{{'event.photo.default' | translate}}">
                                                </p>
                                                <p class="mutual" [ngClass]="darkMode ? 'text-light' : ''">
                                                    {{event.eventName}}
                                                </p>
                                            </ng-template>
                                        </div>
                                        <div *ngIf="mutualEvents.length > sizeMutualEvents" [ngClass]="previousEventClass" [ngClass]="darkMode ? 'moreDark' : 'moreMutual'" (click)="getLessMutualEvents();"><a title="{{'less' | translate}}">
                                            {{'less' | translate}}</a></div>
                                        <div *ngIf="mutualEvents.length < totalMutualEvents" [ngClass]="nextEventClass" [ngClass]="darkMode ? 'moreDark' : 'moreMutual'" (click)="getMoreMutualEvents();"><a title="{{'more' | translate}}">
                                            {{'more' | translate}}</a></div>
                                    </ng-container>
                                    <ng-template #mutualEventsDiv>
                                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <p class="text withoutText" [ngClass]="darkMode ? 'bg-dark text-light' : ''">{{'event.mutual' | translate}}</p>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <ul class="row paginationUser">
                            <li [ngClass]="previousUser" *ngIf="previous">
                                <a class="previousUser" [ngClass]="darkMode ? 'bg-dark text-light' : ''" title="{{'previous' | translate}}" (click)="setPage(-1);">{{'previous' | translate}}</a>
                            </li>
                            <li [ngClass]="nextUser" *ngIf="next">
                                <a class="nextUser" [ngClass]="darkMode ? 'bg-dark text-light' : ''" title="{{'next' | translate}}" (click)="setPage(1);">{{'next' | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
