<section>
    <div class="container">
        <div class="user signinBx">
            <div class="imgBx">
                <img src="assets/LoginMoney.jpg" alt="{{'deco' | translate}}">
            </div>
            <div class="flex">
            <app-translation></app-translation>
                <div class="formBx">
                    <form (submit)="logIn()" ngNativeValidate #loginForm="ngForm">
                        <h1>{{'log.in.title' | translate}}<a href="" title="{{'home' | translate}}"><br>¡A pachas!</a></h1>
                        <div>
                            <input type="text" id="login_userLogin" name="userLogin" placeholder="{{'user.username' | translate}}"
                                pattern="[a-zA-ZñÑ0-9_-]{1,100}" title="{{'user.username' | translate}}"
                                [(ngModel)]="login" required #usernameForm="ngModel">
                            <div *ngIf="loginForm.submitted && usernameForm.invalid" class="alert alert-danger">
                                <div *ngIf="usernameForm.errors.required">{{'user.username.required' | translate}}</div>
                                <div *ngIf="usernameForm.errors.pattern">{{'user.username.format' | translate}}</div>
                            </div>
                        </div>
                        <div>
                            <input type="password" id="login_userPassword" title="{{'password' | translate}}" name="userPassword" placeholder="{{'password' | translate}}"
                                [(ngModel)]="password" required #passwordForm="ngModel" minlength="6">
                            <div *ngIf="loginForm.submitted && passwordForm.invalid" class="alert alert-danger">
                                <div *ngIf="passwordForm.errors.required">{{'password.required' | translate}}</div>
                                <div *ngIf="passwordForm.errors.minlength">{{'password.min' | translate}}</div>
                            </div>
                        </div>
                        <input type="submit" title="{{'log.in.button' | translate}}" value="{{'log.in.button' | translate}}">
                        <p class="signup">{{'password.remember' | translate}} <a href="" title="{{'password.remember' | translate}}" data-bs-toggle="modal" data-bs-target="#retrievePasswordEmailModal"> {{'password.retrieve' | translate}}</a></p>
                        <p class="signup">{{'account.get' | translate}} <a title="{{'signup.get' | translate}}" routerLink="/register"> {{'signup.get' | translate}}</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<app-retrievePasswordEmail></app-retrievePasswordEmail>

<simple-notifications></simple-notifications>
